@media (max-width:375px) {
    .mainSection {
        padding-inline: 14px;
    }

    .cardSection {
        
        display: flex;
        flex-direction: column;
        align-items: center;

    
}

.section2Title {
    margin-top: 32px;
}


}