.container {
    width: min(100% , 1440px);
    margin: auto;
 
   
}

/* header */

header {
    padding: 6px 82px;
    background-color: #FA793C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogoLink {
    display: flex;
    gap: 14px;
    align-items: center;

}

.headerTitle {
    font-family: Pridi;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.9px;
    color: #FFFFFF;


}

.burger {
    display: none;
}

.headerNavList {
    display: flex;
    gap: 32px;



}

.headerSection {
    display: flex;
    gap: 64px;
}

.headerNavLink {
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;

}

.userIcon {
    font-size: 20px;
    color: #FFFFFF;
}



/* section */
.mainSection {
    height: 550px;
    background-image: url(../images/cover\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 82px;

}

.mainSectionTitle {
    font-family: Kanit;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.mainSectionPharagraph {
    font-family: Kanit;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #D9D9D9;

}

/* section2 */
.section2 {
    background-color: #FA793C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    



}

.section2Title {
    font-family: Kanit;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 72px;




}

.cardSection {
    width: calc(1276/1440 * 100%);
    display: flex;
    gap: 20px;
    margin: 34px auto;
}

.sectionArticle {
    width: 412px;
    background-color: #000000;
   
    
    



}

.articleImage {
    width: 100%;
    object-fit: cover;
}

.articleTitle {
    font-family: Kanit;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #FFFFFF;

}

.articlePharagraph {
    font-family: Kanit;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #D9D9D9;

}

